footer {
  height: 100px;
  padding: 60px;
  background-color: #2c2b2b;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-info {
  text-align: center;
}

.footer-info li {
  text-decoration: none;
  display: inline-block;
}

.footer-info ul {
  margin: 0;
  padding: 0;
}

.footer-info li a {
  color: #1EDD88;
  font-size: 35px;
  padding: 5px;
}

footer p {
  color: #6B6C6C;
  display: block;
}
